/**
 * styles.css
 * ----------
 * This file contains all the styling rules for the project.
 * It ensures a consistent design and layout for the user interface.
 */

 
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-half {
    color: purple;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-half {
    color: black;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
