<!--
home.html
----------
html template for home page
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Testing Website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    </head>

    <body>
        <div class="top-half">  
            
        </div>

        <div class="bottom-half">
            <button id="myButton">Button</button>
        </div>
    </body>
</html>

